.press-items-preview-wrapper{}

.press-item-preview{
	$press-gray: #898989;

	margin-bottom: 90px;
	
	text: {
		align: center;
		decoration: none;
	}
	
	&__image{
		margin-bottom: 25px;
		height: 500px;
	}

	&__date,
	&__magazine{
		color: $press-gray;
		font-size: 18px;
		line-height: 30px;
	}

	&__title{
		margin: {
			top: 15px;
			bottom: 15px;
		}

		font: {
			family: $font-raleway;
			size: 35px;
			weight: 300;
		}
		line-height: 48px;

		a{
			text-decoration: none;
			color: $color-text-footer;

			transition: color .25s;
		}

		&:hover a{
			color: $color-text-secondary;
		}
	}

	&__magazine{
		font-weight: 700;
	}
}