/* 
 * Section welcome 
*/ 
.section-welcome{
	background: {
		image: url('images/welcome-section-bg.jpg');
		size: cover;
		position: 50%;
		repeat: no-repeat;
	}

	@media(max-width: $screen-md-max){
		background-position: 76% 50%;
	}
	@media(min-width: $screen-md){
		background-position: 50%;
	}

	$offset: 30px;

	&__menu-button,
	&__lang,
	&__telephone,
	&__socials{
		position: absolute;
		z-index: 3;

		margin: 0;
		padding: 0;
	}

	/* menu button */ 
	&__menu-button{
		top: $offset; left: $offset;

		background: 0;
		border: 0;
		outline: 0;
		cursor: pointer;

		span{
			display: block;
			width: 20px;
			height: 1px;

			background-color: $color-text-secondary;

			&:nth-child(2){
				margin: {
					top: 4px;
					bottom: 4px;
				}
			}
		}
	}

	/* current lang */ 
	&__lang{
		display: flex;
		list-style: none;

		top: $offset; right: $offset;

		li{
			margin-left: 15px;
		}

		a{
			display: block;

			color: $color-text-primary;
			text: {
				transform: uppercase;
				decoration: none;
			}
			transition: $text-transition;
			font-size: 14px;
			line-height: 14px;

			&:hover{
				color: $color-text-secondary;
			}

			&.current{
				font-weight: 700;
			}
		}
	}

	/* telephone */ 
	&__telephone{
		bottom: $offset; left: $offset;

		font-size: $font-small;
		color: $color-white;

		@media(max-width: $screen-lg-max){
			display: none;
		}
	}

	/* socials */ 
	&__socials{
		bottom: $offset; right: $offset;

		list-style-type: none;

		li{
			display: inline-block;

			+ li{
				margin-left: 10px;	
			}
		}

		a{
			display: inline-block;
			width: 20px;

			text-decoration: none;
			color: $color-text-primary;
			transition: $text-transition;

			&:hover{
				text-decoration: none;
				color: $color-text-secondary;
			}
		}

		svg{
			display: block;
			max-width: 100%;
			height: auto;

			fill: #393939;
			transition: $text-transition;
			cursor: pointer;

			&:hover{
				fill: $color-text-secondary;
			}
		}
	}
}