.footer{ 
	&__top,
	&__bottom{
		border-top: 1px solid #cacaca;
	}
	
	/* top */ 
	&__top{}
	
	/* bottom */ 
	&__bottom{
		display: flex;
		align-items: center;

		min-height: 86px;
		
		@media(min-width: $screen-md){
			justify-content: space-between;	
		}
		@media(max-width: $screen-md-max){
			flex-direction: column;
			justify-content: center;
		}
	}

	&__rights,
	&__welldo a{
		font-size: 16px;
		color: #323232;

		text-decoration: none;
	}

	&__welldo{
		transition: $text-transition;

		img{
			display: inline-block;
			position: relative;
			top: 6px;
			margin-left: 6px;
		}

		&:hover{
			opacity: .81;
		}
	}
}