body{
  min-height: 100vh;
  overflow-x: hidden;
	
	font: {
		family: $font-osans;
		weight: 400;
	}

  &::-webkit-scrollbar {
    width: 2px;
  }
   
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $color-text-secondary;
    outline: 1px solid slategrey;
  }
}

*{
  box-sizing: border-box;
}

.container{
  margin: {
    left: auto;
    right: auto;
  }
  
  @media(max-width: 1499px){
    width: 90%;
  }
  @media(min-width: 1500px){
    width: 1200px;  
  }
}

.text-center{
  text-align: center;
}

/* visually hidden */
.visually-hidden{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

main#main-wrapper{}
.container-wrapper{
  transition: .2s linear;

  @media(min-width: $screen-md){
    padding-left: $menu-width;
  }
}

